{% extends 'app/base.html' %}
{% load static %}
{% block title %} Password Reset Done{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
 <h3>Password Reset Done</h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">Change Password Done</a></li>
   </ul>
  </div>
  <div class="col-sm-9 offset-sm-1">
    <h3 class="alert-heading">Well Done</h3>
    <p>An Email has been sent  with instructions to reset your password. <b>Check Your Email</b> </p>
  </div>
 </div>
</div>
{% endblock main-content %}